services:
  nodebb:
    user: "0"
    build: .
    restart: unless-stopped
    ports:
      - "4567:4567"
    depends_on:
      - redis
      - translator
    environment:
      MAILGUN_API_KEY: ${MAILGUN_API_KEY}
      MAILGUN_DOMAIN: ${MAILGUN_DOMAIN}
      TRANSLATOR_API_BASE: "http://translator:5000"
      NO_UPGRADE: "true"
    volumes:
      - nodebb-build:/usr/src/app/build
      - nodebb-uploads:/usr/src/app/public/uploads
      - nodebb-config:/opt/config
      - ./install/docker/setup.json:/usr/src/app/setup.json

  redis:
    image: redis:8.0.1-alpine
    restart: unless-stopped
    command: ["redis-server", "--appendonly", "yes", "--loglevel", "warning"]
    volumes:
      - redis-data:/data

  translator:
    image: nodebb-fall-2025-jack-translator
    restart: unless-stopped
    ports:
      - "5000:5000"
    depends_on:
      - ollama

  ollama:
    image: ollama/ollama:latest
    restart: unless-stopped
    expose:
      - "11434"
    command: ["/bin/ollama", "serve"]

volumes:
  redis-data:
    driver_opts:
      o: bind
      type: none
      device: ./.docker/database/redis

  nodebb-build:
    driver_opts:
      o: bind
      type: none
      device: ./.docker/build

  nodebb-uploads:
    driver_opts:
      o: bind
      type: none
      device: ./.docker/public/uploads

  nodebb-config:
    driver_opts:
      o: bind
      type: none
      device: ./.docker/config
