version: '3.8'

services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    volumes:
      - ollama_data:/root/.ollama  # persists ollama data
    restart: unless-stopped

  # Translator microservice
  translator:
    build: ../llm-experiment-microservice-jack
    command: flask run --host=0.0.0.0
    depends_on:
      - ollama
    environment:
      - OLLAMA_HOST=http://ollama:11434
      - FLASK_APP=app.py
      - FLASK_ENV=development
    ports:
      - "5000:5000"
    working_dir: /app
    restart: unless-stopped

  # NodeBB Forum
  nodebb:
    build: .
    # image: ghcr.io/nodebb/nodebb:latest
    restart: unless-stopped
    ports:
      - '4567:4567'
    volumes:
      - nodebb-build:/usr/src/app/build
      - nodebb-uploads:/usr/src/app/public/uploads
      - nodebb-config:/opt/config
      - ./install/docker/setup.json:/usr/src/app/setup.json
    depends_on:
      - redis
      - translator

  # Redis cache
  redis:
    image: redis:8.0.1-alpine
    restart: unless-stopped
    command: ['redis-server', '--appendonly', 'yes', '--loglevel', 'warning']
    volumes:
      - redis-data:/data

volumes:
  ollama_data:

  redis-data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./data/redis

  nodebb-build:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./.docker/build

  nodebb-uploads:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./.docker/uploads

  nodebb-config:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./.docker/config
